
<html>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
  <head>
    <meta charset="utf-8">
    <title>Stock Prices</title>
    <link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
    <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>Stock Prices</h1>
      {{ div | safe }}
    </div>
  </body>
</html>
